

body {
    font-family: 'Roboto', sans-serif;
   background:#fff;
   color:black;
  }
  .column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .column-left{
    background-color:#fff;
    border:2px solid #000;
  }
  .column-right{
   padding-left:50px;
  }
  .row-container{
   padding:20px;
  }
  .row-inside{
    width:150px;
  }