

body {
    font-family: 'Roboto', sans-serif;
   background:#fff;
   color:black;
  }
  .column-left,.column-right {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  .column-one , .column-two{
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
  
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .column-left{
    background-color:#fff;
    border:2px solid #000 ;
  }
  .column-right{
    padding-left:50px;
  }
  .row{
    padding:20px;
  }